{#
/**
 * @file
 * Template for a Card component.
 *
 * Available config:
  * - card_header: (optional) Card header.
  * - card_footer: (optional) Card footer.
  * - card_title: (optional) Card title.
  * - card_subtitle: (optional) Card subtitle.
  * - card_body: (optional) Card body (text).
  * - card_media: (optional) Card media, instead of using card_image_*.
  * - card_link_url: (optional) Card link URL.
  * - card_link_text: (optional) Card link text.
  * - card_image_src: (optional) Card image source.
  * - card_image_alt: (optional) Card image alt text.
  * - card_image_cap: (optional) Card image caption.
  * - card_image_overlays: (optional) Card image overlays.
  * - card_body_tag: (optional) Card body tag.
  * - card_title_tag: (optional) Card title tag.
  * - card_subtitle_tag: (optional) Card subtitle tag.
  * - card_text_tag: (optional) Card text tag.
  * - card_border: (optional) Card border.
  * - card_utility_classes: (optional) Any additional classes to add to the card.
  * - card_title_prefix: (optional) Corresponds to title_prefix in entity templates.
  * - card_title_suffix: (optional) Corresponds to title_suffix in entity templates.
 */
#}


<div class="c-card-info-general">
	<div class="c-card-info-general__image">
		{% if image is iterable %}
			{{ image }}
		{% else %}
			<img src="{{ image }}" alt="{{ title }}"/>
		{% endif %}
	</div>
	<div class="c-card-info-general__content">
		<h2 class="c-card-info-general__title">{{ title }}</h2>
		<p class="c-card-info-general__description">{{ description }}</p>
		<a href="{{ button_url }}" class="c-button c-button--primary">
			{{ button_text|default('Explore') }}
		</a>
	</div>
</div>
